<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Result Not Found</title>
    <meta name="theme-color" content="#DD2476">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        * {
            
            line-height: 1.2;
            margin: 0;
        }

        html {
            background: #FF512F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DD2476, #FF512F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DD2476, #FF512F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: #000;olor: #fff;
            display: table;
            font-family: sans-serif;
            height: 100%;
            text-align: center;
            width: 100%;
        }

        body {
            display: table-cell;
            vertical-align: middle;
            margin: 2em auto;
        }

        h1 {
            color: whitesmoke;
            font-size: 3.5rem;
            font-weight: 400;
        }

        p {
            margin: 0 auto;
            width: 280px;
            font-size:  1.5rem;
        }

        @media only screen and (max-width: 280px) {

            body, p {
                width: 95%;
            }

            h1 {
                font-size: 1.5em;
                margin: 0 0 0.3em;
            }

        }

    </style>
</head>
<body>
  <h1>Result Not Found</h1>
    <p>Sorry, but we have intialized our app to check for updates at ipu official site <strong> Check back in few Minutes<strong></p>
</body>
</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
